@font-face {
    font-family: 'Montserrat';
    src: url('subset-Montserrat-Regular.eot');
    src: url('subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-Montserrat-Regular.woff2') format('woff2'),
        url('subset-Montserrat-Regular.woff') format('woff'),
        url('subset-Montserrat-Regular.ttf') format('truetype'),
        url('subset-Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('subset-CrimsonText-Roman.eot');
    src: url('subset-CrimsonText-Roman.eot?#iefix') format('embedded-opentype'),
        url('subset-CrimsonText-Roman.woff2') format('woff2'),
        url('subset-CrimsonText-Roman.woff') format('woff'),
        url('subset-CrimsonText-Roman.ttf') format('truetype'),
        url('subset-CrimsonText-Roman.svg#CrimsonText-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('subset-CrimsonText-Italic.eot');
    src: url('subset-CrimsonText-Italic.eot?#iefix') format('embedded-opentype'),
        url('subset-CrimsonText-Italic.woff2') format('woff2'),
        url('subset-CrimsonText-Italic.woff') format('woff'),
        url('subset-CrimsonText-Italic.ttf') format('truetype'),
        url('subset-CrimsonText-Italic.svg#CrimsonText-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Amsdam';
    src: url('subset-Amsdam.eot');
    src: url('subset-Amsdam.eot?#iefix') format('embedded-opentype'),
        url('subset-Amsdam.woff2') format('woff2'),
        url('subset-Amsdam.woff') format('woff'),
        url('subset-Amsdam.ttf') format('truetype'),
        url('subset-Amsdam.svg#Amsdam') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('subset-Montserrat-Bold.eot');
    src: url('subset-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-Montserrat-Bold.woff2') format('woff2'),
        url('subset-Montserrat-Bold.woff') format('woff'),
        url('subset-Montserrat-Bold.ttf') format('truetype'),
        url('subset-Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

