@import 'reset';
$spalva: #444; //sukuriame spalvos kintamaji

//Sass komentarsd, matomas tik scss faile ir po kompiliavimo css faile nera perkeliamas

.btn{
  color: $spalva;
  display: block;
}

.btn-a{
  color: lighten($spalva, 30%);
  &:hover{
    color: lighten($spalva, 40%);
  }
  &span{
    color: black;
  }

}

//Ciklo pvz
$sarasas: "top" "right" "bottom" "left";

@each $puse in $sarasas{
  .remelis-#{puse}{
    border-#{$puse}: 10px solid red;
  }
}

@mixin remai( $puse , $bg:#fff, $pad:10px){
  background: $bg;
  padding: $pad;
  border-#{$puse}: 1px solid red;
}

.kaire{
  @include remai(left , #fff, 80px);
}

.btn-2{
  color: $spalva;
  display:block;
}

.btn-3{
  @extend .btn-2;
  color: #999;
}
