*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #aaaaaa;
}


/* HEADER */
.container{
  max-width: 1172px;
  margin: 0 auto;
  align-items: center;
}

header {
  padding-top: 29px;
  padding-bottom: 24px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #fff;
  transition: 0.7s;
}

header .container{
  display: flex;
  justify-content: space-between;
}

header .logo{
  display: flex;
  align-items: center;
}

header .logo-text{
  color: #757575;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

header .logo div{
  text-transform: uppercase;
  padding-left: 12px;
}

header .container nav ul{
  display: flex;
  flex-direction: row;
  color: #aaaaaa;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}

header .icon-facebook{
  font-size: 15px;
}

.icon-twitter-logo-silhouette{
  font-size: 15px;
}

.icon-behance-logo{
  font-size: 15px;
}

header .container nav ul li:not(:last-child){
  padding-right: 10px;
}

.icon-Line{
  color: black;
}

header .social a:not(:first-child){
 border-left: solid 2px;
 padding-left: 4px;
}

.icon-twitter-logo-silhouette{
}

header.hide{
  transform: translateY(-100%);

}
/* MAIN */
/* Slider */
.img_slide_1, .img_slide_2{
  min-height: 698px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.sl__text{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .slick-track{
  left: 0px!important;
} */





/* Abou-us section */

.about-us{
  background-color: #e3e3e3;
  padding-top: 73px;
}

.about-us .container .information{
  background-color: #fff;
}

.about-us .information{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.about-us h2{
  color: #3e3d3d;
  font-family: 'Amsdam';
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 59px;
}

.about-us p{
  color: #3e3d3d;
 font-family: 'Crimson Text - Roman';
 font-size: 14px;
 letter-spacing: 1.4px;
 line-height: 25px;
 padding-top: 41px;
 max-width: 1026px;
}

@mixin button($top, $right, $bottom, $left, $bcolor, $color, $fs ){
  border: 2px solid #3e3d3d;
  padding: $top $right $bottom $left;
  background-color: $bcolor;
  color: $color;
  font-family: 'Montserrat';
  font-size: $fs;
  font-weight: 400;
  letter-spacing: 1.47px;


}
.about-us .buttons button{
  @include button(14px , 35px ,15px, 35px, #ffffff, #3e3d3d , 13px)
  margin-top: 45px;
  margin-bottom: 50px;
}

.about-us .buttons button:hover{
  background-color: #3e3d3d;
  color: #cecece;
}

.achievement{
  padding-top: 36px;
}


.category_of_achiev{
  padding-top: 22px;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  word-spacing: 100vw;
  text-align: center;
  letter-spacing: 1.47px;
  color: #3e3d3d;
}
/* .divider {
  width: 1px;
  height: 100%;
  background-color: #b0b0b0;

} */
.achievement .number{
  color: #3e3d3d;
  font-family: 'Montserrat';
  font-size: 45px;
  font-weight: 400;
  padding-top: 27px;
}



.achievement ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-top: 35px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  .achievement ul li{
    width: 33%;
  }
}


.achievement ul{
  display: flex;
  max-width: 873px;
  min-width: 25%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 63px;
}

/* .achievement ul li:not(){
  border-left: 1px solid;
  border-color: #b0b0b0;
} */

.achievement ul li:not(:nth-child(4n+1)){
  border-left: 1px solid;
  border-color: #b0b0b0;
}

/* SERVICES */

.services{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.upper-part{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  max-width: 1026px;
  text-align: center;
}
%upper-h2{
  color: #ffffff;
  font-family: 'Amsdam';
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.services h2{
  @extend %upper-h2;
  padding-top: 69px;
}

%upper-line{
  height: 5px;
  width: 186px;
  margin-top: 27px;
  background-color: #ffffff;
}

.services .line{
  @extend %upper-line;
}

%upper-p{
  font-family: 'Crimson Text - Roman';
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.4px;
  margin-top: 41px;
  color: #cfcfcf;
}

.services p{
  @extend %upper-p;
}
// .upper-part h2{
//   color: #ffffff;
//   font-family: 'Amsdam';
//   font-size: 20px;
//   font-weight: 400;
//   text-transform: uppercase;
//   padding-top: 69px;
// }

.services_box {
  padding-top: 70px;
}
.services_box ul{
  display: flex;
  flex-wrap: wrap;
}

.services_box ul li{
  width: 23%;
  margin: 0 auto;
  text-align: center;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #d8d8d8;
  margin-bottom: 85px;

}

.services_box ul li:not(:nth-child(4n+1)){
  margin-left: 31px;
}


.services_box ul li p{
  color: #d8d8d8;
  font-family: 'Crimson Text - Roman';
  font-size: 14px;
  font-weight: 400;
  line-height: 20.31px;
  letter-spacing: 1.4px;
  margin: 29px 33px 43px 34px;
}

.services_box ul li h3{
  padding-top: 41px;
  color: #d8d8d8;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.47px;
}

.services_box ul li div{
  transform: translateY(-50%);
  /* position: relative; */
}

.services_box ul li{
  position: relative;
}

.services_box ul li::after{
  content: "";
  display: block;
  width: 32%;
  border-top: 1px solid #d8d8d8;
  position: absolute;
  left: 0;
  top: 0;
}

.services_box ul li::before{
  content: "";
  display: block;
  width: 32%;
  border-top: 1px solid #d8d8d8;
  position: absolute;
  right: 0;
  top: 0;
}



.icon-facebook{
  font-size: 26px;
  color: #d8d8d8;
}


/* .services_box span::after{
  content: "";
  display: block;
  width: 10px;
  border-top: 1px solid #d8d8d8;
  right: 0;
} */

/* LOOKING */

.looking{
  background-color: #2d2d2f;
  padding-top: 35px;
  padding-bottom: 39px;
}

.looking .container{
  display: flex;
  justify-content: space-between;
}

.looking .header{
  max-width: 625px;
  margin-right: 14%;
}

.looking .header p{
  margin-top: 15px;
  color: #888888;
  font-family: 'Crimson Text';
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

.looking .header h3{
  color: #d8d8d8;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.81px;
}

.looking .btn{
  padding: 14px 33px;
  border: 2px solid #e3e3e3;
}

.looking .btn:hover{
  background-color: #ffffff;
  /* color: #3e3d3d; */
  color: black;
}

.looking .btn a{
  color: #e3e3e3;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.47px;
}

// BLOCK

.block .upper-part h2{
  @extend %upper-h2;
  color: #3e3d3d;
  padding-top: 81px;
}

.block .upper-part p{
  @extend %upper-p;
  color: #3e3d3d;
}

.block .upper-part .line{
  @extend %upper-line;
  background-color: #3e3d3d;
}

.block .block_section{
  display:flex;
}

.block .block_section div{
  width: 50%;
}

.block .block_section img{
  width: 100%;
}

/* CLIENTS */



.clients .upper-part h2{
  @extend %upper-h2;
  color: #3e3d3d;
  padding-top: 81px;
}

.clients .upper-part p{
  @extend %upper-p;
  color: #3e3d3d;
}

.clients .upper-part .line{
  @extend %upper-line;
  background-color: #3e3d3d;
}



.clients-logos{
  display: flex;
  justify-content: space-between;
  padding: 74px 7% 127px 7%;

}

// OUR TEAM

.our-team h2{
  @extend %upper-h2;
  padding-top: 77px;
  color: #3e3d3d;
}

.our-team .line{
  @extend %upper-line;
  background-color: #3e3d3d;
}

.our-team .container p{
  @extend %upper-p;
  color: #3e3d3d;
}

.our-team{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-team-img{
  width: 865px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 50px;
}
.our-team-img ul{
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}

.our-team-img ul li {
  position: relative;
  margin:0 auto;
  margin-bottom: 20px;
}

// .our-team-img ul li:nth-child(n+4) {
//   margin-top: 20px;
// }
 .our-team-img ul li{

 }


.our-team-img img{
  width: 100%;
}


.gallery-hover{
  position: absolute;
  // left: 2.5%;
  // top: 2.5%;
  // right: 2.5%;
  // bottom: 2.5%;
  margin: 2.5%;
  top: 0;
  background-color: #f6f6f6;
  opacity: 0;
  width: 95%;
  height: 95%;
  padding-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gallery-hover:hover{
  opacity: 0.82;

}

.gallery-hover .icon-facebook{
  font-size: 15px;
}

.gallery-hover .icons-hover{
  display: flex;
}

.gallery-hover .icons-hover li:not(:nth-child(3n+1)){
  margin-left: 9px;
  padding-left: 10px;
  border-left: 1px solid black;
  margin-bottom: 39px;
}

.gallery-hover h4{
  color: #3e3d3d;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.47px;
}


.gallery-hover p{
  color: #3e3d3d;
  font-family: "Crimson Text";
  font-size: 14px;
  font-style: italic;
  padding-top: 8px;
  padding-bottom: 8px;
}

.line-hover{
  width: 146px;
  height: 2px;
  background-color: #515151;
  margin-bottom: 18px;
}





/* POTFOLIO */

.portfolio_images{
  position: relative;
}


.portfolio .first_img_line ul{
  display: flex;
  justify-content: space-between;
}



.portfolio .first_img_line ul li{
  width: 25%;
}

.portfolio .buttons ul li{
  @include button(12px, 23px, 10px, 20px, #ffffff, #3e3d3d, 13px);
  text-transform: uppercase;
   :hover{
     color: #ffffff;
     background-color: #3e3d3d;
   }
}

.portfolio .buttons ul{
  margin-top: 52px;
  margin-bottom: 64px;
  :hover{
    color: #ffffff;
    background-color: #3e3d3d;
  }
}



.portfolio .buttons ul{
  display:flex;
}

.portfolio .buttons ul li:not(:first-child){
  margin-left: 5px;
}

.portfolio_images ul li img{
  width: 100%;
}

.portfolio .second_img_line ul{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  width: 100%;
  top: 50%;
}

.portfolio .second_img_line ul li{
  width: 25%;
}

.portfolio h2{
  @extend %upper-h2;
  padding-top: 77px;
  color: #3e3d3d;
}

.portfolio .line{
  @extend %upper-line;
  background-color: #3e3d3d;;
}

.portfolio p{
  @extend %upper-p;
  color: #3e3d3d;
}

// PRICES

.prices h2{
  @extend %upper-h2;
  padding-top: 69px;
  color: #3e3d3d;
}

.prices .line{
  @extend %upper-line;
  background-color: #3e3d3d;;
}

.prices .upper-part p{
  @extend %upper-p;
  color: #3e3d3d;
  margin-bottom: 80px;
}

.offers{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 92px;
}

.offers ul{
  width: 31%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 25px;
}

.offers li h4{
  color: #3e3d3d;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 46px;
}

.offers li .icon-facebook{
  font-size: 20px;
  border-radius: 100%;
  border: 2px solid #3e3d3d;
  padding: 18px;

}

.line-left{
  height: 1px;
  width: 94px;
  background-color: #504f4f;

}

.line-right{
  height: 1px;
  width: 94px;
  background-color: #504f4f;

}

.offers li:nth-child(2){
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.offers li span{
  display: inline-block;
  color: #3e3d3d;
  font-family: 'Montserrat';
  font-size: 28px;
  font-weight: 400;
  transform: translateY(-125%);

}

.offers li:nth-child(3){
  color: #3e3d3d;
  font-family: 'Montserrat';
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 25px;
}

.offers li:nth-child(4){
  color: #3e3d3d;
  font-family: "Crimson Text";
  font-size: 16px;
  font-style: italic;
  text-align: center;
  line-height: 30px;
}

.offers li:nth-child(5){
  @include button(14px, 43px, 12px, 34px, #ffffff, #3e3d3d, 13px);
  margin-top: 51px;
  margin-bottom: 58px;
}












/* background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover; */










/* dsaasda */
/* .contact{
  height: 1000px;
  background-color: black;
} */
/* PIRMAS VARINTAS */
/* .icon_css{
  padding-left: 50%;
}
.icon_css .circle{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  position: relative;
}

.icon_css .line_in_icon{
  width: 1px;
  height: 30px;
  color: black;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 100%;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  top: 100%;
  left: -4px;
} */



/* ANTRAS VARIANTAS */

.icon_css2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon_css2 .circle{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.icon_css2 .line_in_icon{
  width: 1px;
  height: 30px;
  color: black;
  background-color: black;
}

.icon_css2 .arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
