*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  color: #444;
  display: block; }

.btn-a {
  color: #919191; }
  .btn-a:hover {
    color: #aaaaaa; }
  .btn-aspan {
    color: black; }

.remelis-puse {
  border-top: 10px solid red; }

.remelis-puse {
  border-right: 10px solid red; }

.remelis-puse {
  border-bottom: 10px solid red; }

.remelis-puse {
  border-left: 10px solid red; }

.kaire {
  background: #fff;
  padding: 80px;
  border-left: 1px solid red; }

.btn-2, .btn-3 {
  color: #444;
  display: block; }

.btn-3 {
  color: #999; }
